@import "vars";

.exhibition {
  color: #fff;
  background: url("../img/exhibition/bg.png") no-repeat top #161b30 !important;

  .header {
    background: rgba(0, 0, 0, 0.3) !important;
  }
  .footer {
    background: #0f1322 !important;
  }

  .nav__link {
    &.active {
      box-shadow: 0 5px 26px 3px #4d6bef;
    }
  }

  .btn {
    box-shadow: 0 5px 26px 3px #4d6bef;

    &:hover {
      background: $blue !important;
      box-shadow: none;
    }
  }

  .header__lang__link {
    color: #fff;
  }

  .nav {
    &.active {
      background: #0f1322 !important;
    }
  }

  .nav-toggle__item {
    background: #fff !important;

    &::before,
    &::after {
      background: #fff !important;
    }
  }

  .nav-toggle.active .nav-toggle__item {
    background-color: transparent !important;
  }

  .nav__link {
    color: #fff;
  }

  .what__arrow {
    border-color: #31428d;
  }

  .advantages__item {
    background: #4d6bef;
  }

  .services {
    background: #161b30;
  }

  .modern {
    padding-bottom: 100px;
    background: #161b30;
  }

  .modern__btn__wrapper {
    margin-top: 65px;
    text-align: center;
  }

  .footer__nav__link {
    color: #fff;
  }
}

@media (max-width: $mobile) {
  .header__name__upper {
    font-size: 18px !important;
  }

  .header__profile__wrapper {
    margin-left: 10px !important;
  }

  .about__dots__item {
    background: #30418b !important;
  }

  .advantages__link {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid #fff;
    font-size: 18px;

    &:hover {
      background-color: #fff;
    }
  }

  .advantages__item {
    height: 600px !important;
  }

  .advantages__slider__nav {
    top: 53% !important;
  }

  .services__inner {
    padding-left: 0 !important;
    align-items: baseline !important;
  }

  .services__item {
    width: 49% !important;
    flex-direction: column;
    align-items: center;
  }

  .services__text {
    margin-left: 0 !important;
    text-align: center;
  }

  .modern {
    padding-bottom: 40px !important;
  }

  .modern__slide__right {
    border-radius: 0 0 10px 10px !important;
  }
}
